.movie-container {
    width: 50%;
    margin: 0 auto;
    font-family: $primaryFont;

    &.hidden {
        display: none;
    }

    .movie-snapshot {
        background: #A9A9A9;
        margin-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: block;
        overflow: auto;

        &:nth-child(even) {
            background: #D3D3D3;
        }

        ul {
            list-style: none;
        }

        li {
            float: left;
            margin-top: 10px;
            margin-bottom: 10px;

            &.movie-title {
                font-size: 30px;
                width: 60%;
                margin-left: 20px;
                line-height: 100%;

                @include media(mobile) {
                  font-size: 24px;
                }
            }

            &.avg-rating {
                font-size: 25px;
                border: 1px solid #red;
                width: 20%;
                margin-left: 0;
                margin-top: 15px;
                display: inline;
                text-align: right;

                p {
                    float: left;
                    text-align: right;
                    width: 75%;
                }

                img {
                    height: 25px;
                    line-height: 80px;
                    margin-left: 6px;
                }
            }

            &.expand-details {
                border-radius: 50px;
                background: #fff;
                height: 40px;
                width: 40px;
                text-align: center;
                float: right;
                margin-right: 30px;

                p {
                    line-height: 40px;
                    font-size: 25px;

                    &.active {
                        background: #AA1420;
                        color: #fff;
                        border-radius: 50px;
                    }
                }
            }
        }
    }

    .movie-details {
        background: #fff;
        padding: 0 0 10px 30px;
        display: none;
        border-bottom: 2px solid #333;
        border-right: 2px solid #333;
        border-left: 2px solid #333;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        overflow: auto;

        &.active {
            display: block;
        }

        ul {
            list-style: none;

            li {
                padding-top: 10px;
                float: left;
                width: 60%;

                &.movie-poster {
                    width: 40%;
                    float: right;
                    padding-left: 20%;
                }

                &.rating {
                    padding-top: 15px;
                }
            }

            img.movie-poster {
                height: 150px;
            }
        }
    }
}
