.movie-container {
    width: 50%;
    margin: 0 auto;
    font-family: $primaryFont;
    overflow: hidden;
    @include media(mobile) {
        font-size: 20px;
        width: 60%;
    }

    &.hidden {
        display: none;
    }

    .movie-snapshot {
        background: #A9A9A9;
        margin-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: block;
        overflow: auto;
        @include media(mobile) {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        ul {
            list-style: none;
        }

        li {
            float: left;
            margin-top: 10px;
            margin-bottom: 10px;

            &.movie-title {
                font-size: 30px;
                width: 60%;
                margin-left: 20px;
                line-height: 100%;
                @include media(desktop) {
                    font-size: 26px;
                }
                @include media(mobile) {
                    font-size: 24px;
                }
            }

            &.expand-details {
                border-radius: 50px;
                background: #fff;
                height: 40px;
                width: 40px;
                text-align: center;
                float: right;
                margin-right: 20px;

                p {
                    line-height: 40px;
                    font-size: 25px;

                    &.active {
                        background: #AA1420;
                        color: #fff;
                        border-radius: 50px;
                    }
                }
            }
        }
    }

    .movie-details {
        background: #fff;
        padding: 0 0 10px 30px;
        display: none;
        border-bottom: 2px solid #333;
        border-right: 2px solid #333;
        border-left: 2px solid #333;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        overflow: auto;
        @include media(mobile) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding: 0 0 0 10px;
            font-size: 18px;
        }

        &.active {
            display: block;
        }

        ul {
            list-style: none;

            li {
                padding-top: 10px;
                float: left;
                width: 60%;

                .release_date {
                    line-height: 40px;
                }

                select.rating {
                    margin-top: 30px;
                }

                &.movie-poster {
                    width: 40%;
                    float: right;
                    padding-left: 20%;
                }
            }

            img.movie-poster {
                height: 150px;
            }
        }

    }
}
