.star {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0;
    height: 0;
    position: relative;
    margin: 7.5px 0;
    border: 15px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 10.5px solid #E7981C;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: red;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-transform: rotateZ(35deg);
    transform: rotateZ(35deg);
}

.star::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: -6.75px;
    left: -9.75px;
    border: 4.5px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 12px solid #E7981C;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: none;
    -webkit-transform: rotateZ(-35deg);
    transform: rotateZ(-35deg);
}

.star::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: 0.45px;
    left: -15.75px;
    border: 15px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 10.5px solid #E7981C;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: red;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: none;
    -webkit-transform: rotateZ(-70deg);
    transform: rotateZ(-70deg);
}
